/* historia style */


.historia-content .left {
    width: 45%;
}



.historia .historia-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.historia .historia-content .left p {
    text-align: justify;
    font-style: italic;
    font-size: 20px;
    color: #fff;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;

}

.historia .historia-content .left a {
    display: inline-block;
    background: #000000;
    font-family: 'Josefin Sans', sans-serif;
    color: #ddd;
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 500;
    margin-top: 0px;
    border-radius: 6px;
    border: 2px solid #ffffff;
    margin-left: 0%;
    margin-bottom: 40px;

}

.historia .historia-content .left a:hover {
    color: #000000;
    background: #FFB800;

}

.historia .historia-content .right {
    width: 55%;
    box-shadow: 0 16px 32px #050505;
    margin-top: 5%;

}

.historia .historia-content .right .text {
    font-size: 35px;
    font-style: bold;
    font-weight: 500;
    color: #fff;
    padding: 3%;

}

.historia .historia-content .right span {
    color: #000000;
}

.historia .historia-content .right p {
    text-align: justify;
    font-style: italic;
    font-size: 20px;
    color: #fff;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;

}

.historia .historia-content .right a {
    display: inline-block;
    background: #000000;
    font-family: 'Josefin Sans', sans-serif;
    color: #ddd;
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #ffffff;
    margin-left: 35%;
    margin-bottom: -13px;

}

.historia .historia-content .right a:hover {
    color: #000000;
    background: #FFB800;

}